{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        {{ include('participant/_form.html.twig', {'button_label':'Edit'}) }}
        <a class="btn btn-primary" href="{{ path('participants') }}"><i class="fa fa-arrow-left"></i> Back to list</a>
    </div>
{% endblock %}