{% extends 'base.html.twig' %}

{% block title %}Add Room{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Add room</h1>
        {{ include('room/_form.html.twig') }}
    </div>

{% endblock %}