{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}Edit Activity{% endblock %}
{% block body %}
    <div class="container my-5">
        {{ include('activity/_form.html.twig') }}
    </div>
{% endblock %}
